@charset 'utf-8';

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#topbar {
  background: #fff;
  padding: 10px;
}

#topbar .action-button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  color: #6e6e6e;
  height: 32px;
  width: 32px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

#topbar .action-button:hover,
#topbar .action-button:focus {
  background: #636363;
  color: #e4e4e4;
}

#topbar .active {
  background: #636363;
  color: #e4e4e4;
}

.left-slider {
  width: 350px;
  height: 400px;
  overflow: auto;
  background: rgb(255, 255, 255);
  position: fixed;
  top: 10px;
  left: 10px;
  border-radius: 4px;
  border: 1px rgb(199, 199, 199) solid;
  box-shadow: 2px 2px 2px #999;
}

.back-to-hide {
  position: absolute;
  top: 5px;
  right: 5px;
}

.change-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.form-title {
  display: block;
  padding: 10px;
}

.box-card {
  width: 350px;
  position: fixed;
  right: 10px;
}

.box-card .el-divider--horizontal {
  margin: 10px;
}

.mapLayer {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 400px;
  height: 320px;
  margin-left: -160px;
  background: #fff;
  display: none;
}
.bottom-table{
  width: 800px;
  height: 360px;
  position: fixed;
  background: #ffffff;
  bottom: 10px;
  right: 100px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px #666;
}

.change-table-button{
  position: absolute;
  top: 300px;
  right: 10px;
}